<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About D.E.E.F.C.I (Document Event Extractoin For Calendar Integration)</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About DEEFCI </h1>
    <p> This is a project in the making. </p>
    <p> I aim to make the lives of students and professoinals easier by allowing them to have their 
        important deadlines and events added effortlessly to their Google Calendar.</p>

    {% endblock %}
  </body>
</html>
